.nav {
	background: #f4f4f4;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 90px;
}
.nav-button {
	position: absolute;
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	right: -12px;
	top: 50px;
	border-radius: 7px;
	background: #e5f1d6;
	z-index: 10;
}
.nav__list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.nav__item {
	padding: 8px 16px 8px 12px;
	border-radius: 7px;
	color: #5b5b5b;
	line-height: 1.3;
	&:first-child {
		background: #7eba34;
		color: #fff;
	}
}

.nav__link {
	display: flex;
	align-items: center;
	gap: 8px;
}
