.header-search-form {
	display: flex;
	width: 366px;
	height: 38px;
	padding: 8px 16px 8px 12px;
	align-items: center;
	gap: 4px;
	border-radius: 7px;
	background: #f4f4f4;
}
.header-search-btn {
}
.header-search-img {
}
.header-search-input {
	color: #5b5b5b;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
}
